:root{
	background-color: #1c1c1c;
	color: #ffffff;
	position: absolute;
	text-align: center; 
	text-decoration: none !important;
}

a {
	text-decoration: none !important;
	color: #ffffff;
  }
  

@font-face {
	font-family: "Arimo", sans-serif;
	src: url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
	font-family: 'ArsenicaTrial';
	src: url('/home/frank/home/Portfolio-s/src/assets/fonts/ArsenicaTrial-Regular.ttf') format('truetype');
	}

  body {
	font-family: 'ArsenicaTrial', Fallback, sans-serif !important;
	
  }
  
   
  h1{
	font-size: 8rem;
 }
  h2{
	font-size: 4rem;
 } 
 h3{
	font-size: 3rem;
 }
 h4{
	font-size: 2rem;
 }
 h5{
	font-size: 1rem;
 }

 a{
	font-size: 1rem;
 }

#about,#home,#projects,#footer{
	height: 100vh;
  width: 100vw;
}




#logo {
	text-align: left !important;
	margin: 0;   
}

#page-wrapper {
		padding-top: 3.5em;
}